GotRexTest2/.idea/vcs.xml
GotRexTest2/.idea/caches/build_file_checksums.ser
GotRexTest2/build.gradle
GotRexTest2/build.gradle
*.gradle
GotRexTest2/.idea/caches/build_file_checksums.ser
GotRexTest2/.idea/misc.xml
*.ser
GotRexTest2/.idea/caches/build_file_checksums.ser
*.ser
*.ser
GotRexTest2/.idea/misc.xml
GotRexTest2/.idea/misc.xml